*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:rgb(240, 240, 240) ;
    color: black;
    overflow-x: hidden;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 50px 10px rgba(0, 0, 0, 0.107);
    padding: 0px 40px;
    z-index: 3;
}

#logo{
    width: 30px;
    display: flex;
    align-items: center;
}

#logo> img{
    width: 100%;
    border-radius: 10px;
}

#leftnav{
    display: flex;
    align-items: center;
}

#nav-links{
    padding: 0px 30px;
}

#nav-links > ul{
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

#nav-links > ul li a{
    text-decoration: none;
    color: black;
}

#rightnav{
    display: flex;
    align-items: center;
}

#icons{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.main{
    display: flex;
    flex-direction: column;
}

.lap{
    width: 100%;
    position: relative;
    z-index: -1;
}

#text-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 80px;
}

#text{
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    align-items: flex-start;
}

#description{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.btn{
    background-color:black ;
    color: white;
    border-radius:6px ;
    height: 30px;
}

.lap>img{
    width: 100%;
}

#images{
    display: grid;
    height: 500px;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    gap: 10px;
    padding: 10px;
}

.image{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#t1{
    margin-top: 20px;
    width: 450px;
    font-size: 3rem;
    text-wrap: wrap;
    text-align: center;
    color: white;
}

.img1::before{
    content: '';
    position: absolute;
    background-image: url(i1.webp);
    background-position: bottom 0px right 0px;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.img2::before{
    content: '';
    position: absolute;
    background-image: url(i2.webp);
    background-position: bottom 0px right 0px;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.img3{
    background-color: white;
    z-index: -1;
}
.t3{
    margin-top: 20px;
    width: 350px;
    font-size: 3rem;
    text-wrap: wrap;
    text-align: center;
    color: black;
}
.source{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    gap: 10px;
    margin: 120px 50px 80px;
}

#right-symbols{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 100%;
}

.container{
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.symbols{
    height: 100px;
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.a{
    position: absolute;
    top: 100px;
    font-size: 2rem;
}
.s1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s11{
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.s11> img{
    height: 50%;
}
.f1{
    font-size: 2rem;
    margin-bottom: 20px;
}
.f2{
    font-size: large;
}

footer{
    background-color: rgb(25, 25, 25);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 48px);
    padding: 30px;
    padding-bottom: 0;
}

#footer-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    gap: 20px;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid white;
}

#footer-links ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#footer-links li{
    list-style: none;
}

#footer-links> div> ul> li:first-child{
    font-weight: bold;
    color: white;
}

#bottom{
    width: 100%;
    height: 60px;
}
#footer-links> div>ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    color: rgb(160, 163, 164);
}
.l1{
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}
.last-image{
    width: 100%;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    font-size: 40px;
    margin-bottom: 20px;
}

.e-mail{
    border: 2px solid gray;
    border-radius: 15px;
}
.e-mail >input{
    width: 80%;
    height: 50px;
    border: none;
    padding: 10px;
    text-align: start;
    color: white;
    background-color: transparent;
}
.scanner{
    width: 100%;
    height: 150px;
    border: 2px solid gray;
    border-radius: 15px;
    margin-top: 30px;
    color: white;
}
.Qr{
    width: 100%;
    height: 70%;
    border-bottom: 2px solid grey;
    display: flex;
    align-items: center;
}
.sqr{
    width: 20%;
    margin: 15px;
}
.sqr img{
    width: 100%;
    border-radius: 10px;
}
.a1{
    font-size: 20px;
    margin-bottom: 8px;
}
.a2{
    text-wrap: wrap;
    margin-bottom: 4px;
    color: rgba(128, 128, 128, 0.749);
}
.download{
    display: flex;
    padding: 10px;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
}
#bottom{
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
    color: white;
    justify-content: space-between;
}
.copy{
    display: flex;
    column-gap: 30px;
}
.country i{
    margin-left: 10px;
}